body, p, h1, h2, h3, a {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  color: #4A4A4A;
}

body {
  text-align: center;
  background-color: #F0F0F0;
}

body, p, a {
  font-size: 18px;
  line-height: 25px;
}

h1 {
  font-size: 18px;
  margin: 0;
  margin: 6px 0;
  font-weight: 500;
  color: black;
}

h2 {
  font-size: 36px;
  line-height: 38px;
  margin: 6px 0;
  font-weight: 300;
}

h3 {
  font-size: 18px;
  margin: 6px 0;
  font-weight: 500;
  color: black;
}

p {
  max-width: 340px;
  text-align: left;
  margin: 11px auto;
  font-weight: 400;
}

header {
  padding: 20px 0 20px;
  a:hover {
    .app-icon {
      -webkit-transform: scale(1.03);
         -moz-transform: scale(1.03);
              transform: scale(1.03);
    }
    .app-store-badge {
      opacity: 0.75;
    }
  }
}

.app-icon {
  padding: 20px;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-transition: 0.18s -webkit-transform ease-out;
     -moz-transition: 0.18s    -moz-transform ease-out;
          transition: 0.18s         transform ease-out;
}
.app-store-badge {
  margin-top: -5px;
  padding: 0 10px 10px;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-transition: 0.18s opacity ease-out;
     -moz-transition: 0.18s opacity ease-out;
          transition: 0.18s opacity ease-out;
}

.app-overview {
  position: relative;
  width: 348px;
  height: 708px;
  overflow: visible;
  margin: 0 auto;
  .callout-1,
  .callout-2,
  .callout-3 {
    position: absolute;
    width: 275px;
    &:after {
      content: "";
      display: block;
      width: 28px;
      position: absolute;
      image-rendering: pixelated;
      background-position: 0;
    }
  }

  .callout-1 {
    top: 330px;
    right: 100%;
    text-align: right;
    padding-right: 50px;
    &:after {
      height: 530px;
      background-image: url('/images/callout_1_background.png');
      background-size: 28px 530px;
      right: 10px;
      top: -251px;
      @media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
        background-image: url('/images/callout_1_background_2x.png');
      }
      @media only screen and (-webkit-min-device-pixel-ratio: 2.5) {
        background-image: url('/images/callout_1_background_3x.png');
      }
    }
  }
  .callout-2 {
    top: 193px;
    left: 100%;
    text-align: left;
    padding-left: 50px;
    &:after {
      height: 232px;
      background-image: url('/images/callout_2_background.png');
      background-size: 28px 232px;
      left: 10px;
      top: -114px;
      @media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
        background-image: url('/images/callout_2_background_2x.png');
      }
      @media only screen and (-webkit-min-device-pixel-ratio: 2.5) {
        background-image: url('/images/callout_2_background_3x.png');
      }
    }
  }
  .callout-3 {
    top: 432px;
    left: 100%;
    text-align: left;
    padding-left: 50px;
    &:after {
      height: 224px;
      background-image: url('/images/callout_3_background.png');
      background-size: 28px 224px;
      left: 10px;
      top: -48px;
      @media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
        background-image: url('/images/callout_3_background_2x.png');
      }
      @media only screen and (-webkit-min-device-pixel-ratio: 2.5) {
        background-image: url('/images/callout_3_background_3x.png');
      }
    }
  }
}

.iphone {
  background-image: url('/images/iphone.png');
  background-size: 344px 708px;
  background-position: 1px 4px;
  width: 348px;
  height: 708px;
  padding: 90px 24px;
  display: inline-block;
  video {
    width: 298px;
    height: 530px;
  }
}

.app-intro {
  margin: 120px 0;
}

footer {
  width: 100%;
  border-top: 1px solid rgba(black, 0.1);
  padding: 0 10px;
  margin-top: 120px;
  li {
    display: inline-block;
    a {
      display: inline-block;
      padding: 20px 10px;
      font-size: 14px;
    }
  }
  ul:first-child {
    float: left;
    text-align: left;
  }
  ul:last-child {
    float: right;
    text-align: right;
  }
}
