---
title: Welcome to Middleman
---

<header>

</header>

<main>

</main>

<footer>
  <ul>
    <li>
      <a href="http://nunocoelhosantos.com/">&copy; Nuno Coelho Santos 2016</a>
    </li>
    <li>
      <a href="<%= t(:press_kit_link) %>"><%= t(:press_kit) %></a>
    </li>
  </ul>
  <ul>
    <li>
      <a href="/zh">中文</a>
    </li>
    <li>
      <a href="/">English</a>
    </li>
    <li>
      <a href="/es">Español</a>
    </li>
    <li>
      <a href="/ja">日本語</a>
    </li>
    <li>
      <a href="/pt">Português</a>
    </li>
  </ul>
</footer>
