<h1>
  Privacy Policy
</h1>

<p>
  Nuno Coelho Santos built Currency as a commercial app.
  I do not collect or use any Personal Information as part of this service.
  Additionally, the app does not use any third party services that may collect information used to identify you.
  If you have any questions or suggestions about my Privacy Policy, do not hesitate to contact me at currency@nunocoelhosantos.com.
</p>
